
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active {
    outline: none;
}

a:focus,a:active {
    outline: none;
}

nav,footer,header,aside {
    display: block;
}

html,body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: min(1.14vw,16px);
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: 'Mont';
}

input,button,textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}


button a{
    color: #FFFFFF;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: 400;
}

@font-face {
    font-weight: 700; 
  font-family: Mont;
  src: url("../fonts/Mont-Bold.ttf");
}

@font-face {
    font-weight: 800; 
  font-family: Mont;
  src: url("../fonts/Mont-Heavy.ttf");
}

@font-face {
    font-weight: 400; 
  font-family: Mont;
  src: url("../fonts/Mont-Regular.ttf");
}

/*#scrollbar*/
::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid #555454;
    box-shadow: 0 0 0.2rem #828282 inset
}
::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border: 0.1rem solid #424141;
    background-color: #FF5029;
    box-shadow: 0 0.1rem 0.1rem #828282 inset;
}
::-webkit-scrollbar-thumb:active {
    background-color: #df4609;
    border: 0.1rem solid #FF5029
}
::-webkit-scrollbar {
    width: 0.9rem
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    padding: 0 1rem;
    margin: 0 auto;
    -webkit-box-sizing: content-box;;
    box-sizing: content-box;
}
.header__container{
    display: flex;
    min-height: 7.5rem;
    align-items: center;
    justify-content: space-between;
}
.container-small {
    width: 90%;
    max-width: 77.5rem;
}
.container-big {
    max-width: 85rem;
}
.header__line {
    margin: 0 1.82rem;
}


.header-menu{
display: flex;
gap: 2.5rem;
}
.header-menu__list {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

.header-menu__link {
    font-weight: 700;
    font-size: 1rem;
    line-height: 125%;
    color: #0B0614;
    opacity: 0.8;
    flex: none;
    order: 0;
    flex-grow: 0;
}

h1{
    position: absolute;
    top: 8.5rem;
font-size: 6.88rem;
font-weight: 800;
line-height: 110%;
letter-spacing: 0em;
text-align: center;
}

.header__logo {
    font-weight: 800;
    font-size: 1.75rem;
    line-height: 130%;
    color: #0B0614;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header__block {
    display: flex;
}

.header__search {
    display: flex;
    align-items: center;
}
.header__search-text{
    color: rgba(11, 6, 20, 0.3);
}

button {
    background: #FF5029;
    Padding: 1.27rem 1.82rem;
    color: #FFFFFF;
    border-radius: 0.75rem;
    text-align: center;
    vertical-align: bottom;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0em;
    white-space: nowrap;
    cursor: pointer;
}

.main-image img {
    object-fit: cover;
    width: 100%;
    border-radius: 0.62rem;
}

.find-guide__text-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
    transform: translate(5%, -50%);
    background-color: #fff;
    box-shadow: 0 1.88rem 3.75rem 0 #C6BFBF2E;
    border-radius: 1.25rem;
}

.find-guide__text-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1.88rem 2.5rem;
}

.find-guide__text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.find-guide__title {
    padding-bottom: 0.83rem;
}

.find-guide__text-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.guides {
    padding-top: 5rem;
}

.guides__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5.5rem;
}

.join__main-img img {
    border-radius: 1.25rem;
}

h2 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 109%;
    text-align: center;
}

.guides__cards {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1rem;
}

.guides__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.guides__card-photo img {
    border-radius: 100%;
    width: 12rem;
    border: 0.12rem solid #FF5029;
}

.guides__card:first-child {
    border-radius: 1.25rem;
    background-color: #FF5029;
}

.guides__card-title {
    padding-top: 0.12rem;
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 133%;
    text-align: center;
    color: #0B0614;
}

.guides__card-text {
    padding-top: 0.55rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 138%;
    text-align: center;
    color: rgba(11, 6, 20, 0.6);
}

.guides__card-rating {
    padding-top: 0.55rem;
    display: flex;
}

.footer__block {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__text {
    font-weight: 600;
    font-size: 1.14rem;
    line-height: 175%;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.31rem 0;
}

.footer__title {
    font-weight: 800;
    font-size: 1.25rem;
    line-height: 140%;
    color: #FFFFFF;
    padding-bottom: 2.45rem;
}

.company-logo {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 111%;
    color: #FFFFFF;
}

.footer__column:first-child {
    max-width: 21.8rem;
}

.instruction {
    margin-top: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.instruction__card {
    position: relative;
    background: #FEF4F5;
    z-index: -99;
    padding: 3.44rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25.4rem;
}

.instruction__card-img {
    position: relative;
    height: 18.75rem;
    display: flex;
    justify-content: center;
}

.instruction__card-person img {
    height: 100%;
    position: absolute;
}

.instruction__card-bg img {
    border-radius: 100%;
}

.instruction__card-text {
    padding: 3.125 0 0 0;
    width: 17.7rem;
}

.instruction__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 7.5rem;
    width: 100%;
}
.learn__card-sub-title{
    display: flex;
}
.sub-title-text {
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 0em;
    text-align: center;
    color: #0B0614;
    display: flex;
    flex-direction: column;
}

.instruction__card-bg {
    margin: 1.25rem 0 0 0;
}

.join {
    margin-top: 12.5rem;
}

.join__text-container {
    display: flex;
    justify-content: space-between;
    transform: translate(5%, -50%);
    background-color: #fff;
    box-shadow: 0 1.88rem 3.75rem 0 #C6BFBF2E;
    border-radius: 1.25rem;
    padding: 2.5rem;
    flex-wrap: wrap;
}

.join__button-block {
    display: flex;
    flex-direction: column;
}

.join__joins-imgs {
    display: flex;
}

.join__joins-img img {
    margin: 0 -1.25rem 0 0;
}

.join__text {
    text-align: left;
}

.its-free {
    color: #FF5029;
}

.join__joins {
    display: flex;
}

.join__joins-text {
    margin-left: 1.9rem;
    width: 6.3rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: 0em;
    text-align: left;
}

.thousand {
    color: #FF5029;
}

.learn__card-txt-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 138%;
    background: #FEF4F5;
    color: #FF5029;
}

.learn__cards {
    display: grid;
    grid-template-areas: 'a b '
'a c ';
    grid-gap: 1.25rem;
    background: #FFFFFF;
    border-radius: 1.25rem;
    padding: 7.5rem 0 11.25rem;
}

.learn__card {
    max-width: 37.9rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background: #FFFFFF;
    box-shadow: 0 -0.5rem 1.25rem rgba(235, 235, 235, 0.15), 0 1.88rem 3.75rem rgba(198, 191, 191, 0.15);
    border-radius: 1.25rem;
    padding: 1.88rem;
}

.learn__card:nth-child(1) {
    flex-wrap: wrap;
    grid-area: a;
    border-radius: 1.25rem;
}

.learn__card:nth-child(2) {
    grid-area: b;
}

.learn__card:nth-child(3) {
    grid-area: c;
}

.learn__card-txt-text {
    width: 22.7rem;
    text-align: left;
    vertical-align: bottom;
}

.learn__card-txt-arrow {
    position: relative;
    top: 0.31rem;
    left: -0.63rem;
}
.learn__card-img img {
   max-width: 34.5rem;
   border-radius: 1.25rem;
}

.learn__card-txt-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.footer {
    background-color: #14060B;
    padding-top: 4.4rem;
}

.learn__card-img {
    padding-right: 1.9rem;
}

.footer__contacts-social-block {
    display: flex;
}

.footer__contacts-adress {
    display: flex;
    font-weight: 700;
    font-size: 1rem;
    line-height: 175%;
    margin-bottom: 0,625rem;
    color: #FFFFFF;
}

.footer__contacts-adress svg {
    margin-right: 0,625rem;
}

.footer__contacts-adress-block {
    margin-bottom: 0  0 1.9rem 0;
}

.footer__contacts-social:not(:last-child) {
    margin-right: 0,625rem;
}
